html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    color: black;
}

.home-page {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    background-image: url('/../images/background1.avif');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    transition: all 0.3s ease-in-out;
}

.left-side, .right-side {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-side {
    align-items: flex-start; /* Chapga tekislash */
    text-align: left; /* Matnni chapga tekislash */
}

.right-side {
    align-items: center; /* O‘rta markazga tekislash */
    text-align: center;
    padding: 40px;
}

.left-side h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.image-wrapper {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1 / 1;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-image {
    width: 100%;
    max-width: 90%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 50px;
    animation: float 2.5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.button-container {
    margin-top: 20px;
}

    .button-container button {
        margin: 0 10px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
        border: none;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .button-container button:first-child {
            background-color: blue;
            color: white;
        }

            .button-container button:first-child:hover {
                background-color: white;
                color: black;
            }

@media (max-width: 768px) {
    .home-page {
        flex-direction: column;
        background-position: top center;
        background-attachment: scroll;
        height: auto;
        min-height: 100vh;
        padding: 20px 0;
    }

    .left-side, .right-side {
        padding: 20px;
        width: 100%;
    }

    .image-wrapper {
        max-width: 80vw;
        margin: 0 auto;
    }

    .left-side h1 {
        font-size: 2.2rem;
    }

    .button-container button {
        margin: 10px 5px;
        width: 45%;
    }
}
